doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/hyeonsik.chat.css')
  body
    .main-container
      .channel-container
        .channel-profile.header
          .profile-image HG
          .profile-name Hyeonsik.Gong
          .profile-logout
        .channel-option
          .input-search
          .channel-adder
        .channel-body
          .channel-group 즐겨찾기 (2)
          .channel-item general
          .channel-item class_level1
          .channel-empty
          .channel-group 채널(5)
          .channel-item class-general
          .channel-item class-web
          .channel-item pacificvis_city
          .channel-item web_class
          .channel-adder 추가 채널
          .channel-empty
          .channel-group 귓속말(12)
          .channel-item chanhee.park
          .channel-item dongwon.ahn
          .channel-item hyunwoo.han
          .channel-item jaejong.heo
          .channel-item jeongmin.lee
          .channel-item jinhak.wee
          .channel-item junyup.hong
          .channel-item minje.sim
          .channel-item soojung.lee
          .channel-item sungjun.Do
          .channel-item won-min
          .channel-item yeongju.lee
        .channel-footer.footer The.The.Lab
      .chat-container
        .chat-header.header
          .chat-favorite
          .chat-title Web-class
        .chat-body
          .timeline
          .chat-item
            .chat-item-nav
              .chat-item-profile HG
            .chat-item-body
              .chat-item-info
                .chat-item-user-name hyeonsik.gong
                .chat-item-user-type Admin
                .chat-item-time 오후 4시 15분
                .chat-item-settings
              .chat-item-message 안녕하세요 안녕하세요!!

          .chat-item
            .chat-item-nav
              .chat-item-profile
            .chat-item-body
              .chat-item-info
                .chat-item-user-name
                .chat-item-user-type
                .chat-item-time 오후 4시 15분
                .chat-item-settings
              .chat-item-message 안녕하세요 안녕하세요!!
          .chat-item
            .chat-item-nav
              .chat-item-settings
            .chat-item-body
              .chat-item-info
                .chat-item-user-name
                .chat-item-user-type
                .chat-item-time
              .chat-item-message




        .chat-sender.footer
          .chat-message-input
          .chat-message-desc
      .function-bar
        .function-item
        .function-item
        .function-item
        .function-item
        .function-item
        .function-item
        .function-item


