doctype html
html
head
  title= title
  link(rel='stylesheet', href='/stylesheets/junyup.css')
  link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous")

body

  .thethechat
    .empty-bar
    .left-bar
      .left-bar-header
        .profile-zone
          .image JH
          .name junyup.hong
          .i.fas.fa-power-off#logoutButton
        .search-zone
          .i.fas.fa-search
          input(type="text", placeholder='검색 (CMD + K)')
          .i.fas.fa-plus#plusButton
      .left-bar-body
        .left-bar-content.group 채널 (4)
        .left-bar-content.item # general
        .left-bar-content.item # general
        .left-bar-content.group 채널 (4)
        .left-bar-content.item # general
        .left-bar-content.item # general
        .left-bar-content.item # general
        .left-bar-content.item # general
        .left-bar-content.group 채널 (4)
        .left-bar-content.item # general
        .left-bar-content.item # general
        .left-bar-content.group 채널 (4)
        .left-bar-content.item # general
        .left-bar-content.item # general
        .left-bar-content.item # general
        .left-bar-content.item # general
        .left-bar-content.group 채널 (4)
        .left-bar-content.item # general
        .left-bar-content.item # general
        .left-bar-content.group 채널 (4)
        .left-bar-content.item # general
        .left-bar-content.item # general
        .left-bar-content.item # general
        .left-bar-content.item # general
      .left-bar-footer
        .i.fab.fa-rocketchat
        .text thetheChat


    .main-content
      .main-header
      .main-body
      .main-footer


    .right-bar
