doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/thethechat.css')

  body
    .wrapper
      .empty-bar
      .channel-display
        .channel-header
          .profile-image JH
          .profile-name Jaejong Heo
          .logout-button
        .channel-option
          .input-search
            input
          .channel-adder +
        .channel-body
          .channel-group 즐겨찾기
          .channel-item
            .icon-type.icon a
            .text 안녕
            .icon-hide.icon a
            .icon-quit.icon a
          .channel-item s
          .channel-group 즐겨찾기
          .channel-item a
          .channel-item s
          .channel-group 즐겨찾기
          .channel-item a
          .channel-item s
        .channel-footer the.the.chat
      .main-display
      .function-display
