doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/loading.css')
    link(rel='stylesheet', href='/stylesheets/soojung.layout.css')
    link(rel='stylesheet', href='/stylesheets/soojung.color.css')
    link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous")
    script(src="/babel-polyfill/dist/polyfill.js")
    script(src="https://code.jquery.com/jquery-3.3.1.js",
    integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=",
    crossorigin="anonymous")
    script(src='https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.10/lodash.min.js')
    script(src="https://www.gstatic.com/firebasejs/5.4.2/firebase.js")

  body
    input(type="file" multiple='multiple').display-none#uploadFile
    .loading-wrapper
      .loading-text LOADING
      .loading-content
    .chat-wrapper.display-none
      .empty-bar
      .left-side-bar
        .left-header
          .header-image SL
          .header-name soojung.lee
          .header-status
            .i.fas.fa-angle-down
        .left-input
          .input-bar
            .i.fas.fa-search
            input(placeholder="검색 (CMD+K)")
          .adder +
        .left-body-part
          .empty-part
          .header-part 즐겨찾기 (1)
          .item-part
            .item-private.i.fas.fa-lock
            .item-text class_level1
            .item-view.i.far.fa-eye-slash.show
            .item-status.i.fas.fa-sign-out-alt.show
          .empty-part
          .header-part 채널(1)
          .item-part
            .item-private.i.fas.fa-lock
            .item-text general
            .item-view.i.far.fa-eye-slash.show
            .item-status.i.fas.fa-sign-out-alt.show
        .left-footer TheTheChat
      .main-part
        .main-header
          .i.far.fa-star
          .i.fas.fa-lock
          .header-text class_level1

        .main-chatting
          //.chat-date
          //  .date-line
          //  .date-text 2018년 5월 25일
          //  .date-line


          //.chat-content
            .chat-image-zone
              .chat-image JH
              .i.fas.fa-cog.display-none
            .chat
              .chat-profile-content
                .profile-name sooojung.lee
                .profile-owner-content
                  .owner-text.admin Admin
                  .owner-text.owner Owner
                .profile-date 오후 1시 42분
                .i.fas.fa-cog
              .chat-text-content sdfsdfsdf sdfsd<br>fsdf sdf sdas<br>da fsd asdfsdfsd<br>f sdf sdasda fsd a
                .file-content.display-none
                  .file-name ddddd.gng
                  .file.i.fas.fa-file
          //.chat-content
            .chat-image-zone
              .chat-image JH
              .i.fas.fa-cog.display-none
            .chat
              .chat-profile-content
                .profile-name sooojung.lee
                .profile-owner-content
                  .owner-text.admin Admin
                  .owner-text.owner Owner
                .profile-date 오후 1시 42분
                .i.fas.fa-cog
              .chat-text-content
                .file-content
                  .file-header
                    .file-name ddddd.gng
                    .i.fas.fa-download
                  .file.i.fas.fa-file

          //.chat-content
            .chat-image-zone
              .chat-image
              .i.fas.fa-cog
            .chat
              .chat-profile-content
                .profile-name
                .profile-owner-content
                  .owner-text.admin
                  .owner-text.owner
                .profile-date
                .i.fas.fa-cog.display-none
              .chat-text-content sdfsdfsdf

        .main-input
          .main-input-content
            .input-bar
              .i.far.fa-grin
              textarea(placeholder='메세지')
            .content-bar
              .contents
                .i.fas.fa-paperclip#uploadButton
                .i.fas.fa-microphone
                .i.fas.fa-video
              .empty-content
      .right-side-bar
        .icon.i.fas.fa-info-circle
        .icon.i.fas.fa-search
        .icon.i.fas.fa-users
        .icon.i.fas.fa-bell
        .icon.i.fas.fa-paperclip
        .icon.i.fas.fa-at
        .icon.i.fas.fa-star
        .icon.i.fas.fa-thumbtack

  script(src='/firebase.js')
  script(src='/chatUI.js')
  script(src='/test.js')

