$title_color: #04436a
$title_color_rgba: rgba(2, 67, 106, 0.97)

*
  box-sizing: border-box

body
  padding: 0
  margin: 0
.display-none
  display: none !important
.chat-wrapper
  width: 100%
  height: 100vh
  display: flex
  .empty-bar
    width: 80px
    height: 100%
    background: #222
  .left-side-bar
    width: 220px
    height: 100%
    .left-header
      width: 100%
      height: 50px
      display: flex
      padding: 8px
      $header-height: 34px
      background: $title_color
      .header-image
        width: $header-height
        height: $header-height
        background: orange
        border-radius: 4px
        color: white
        font-size: 21px
        font-weight: 600
        line-height: $header-height
        text-align: center
      .header-name
        flex: 1
        height: $header-height
        padding: 0 8px
        line-height: $header-height
        color: white
        font-weight: 300
      .header-status
        width: 16px
        height: $header-height
        .i
          width: 100%
          height: 100%
          color: white
          line-height: $header-height
    .left-input
      background: $title_color
      width: 100%
      height: 45px
      display: flex
      padding: 8px
      .input-bar
        flex: 1
        height: 100%
        border: 1px solid #cccc
        border-radius: 4px
        position: relative
        margin-right: 16px
        opacity: 0.8
        .i
          width: 16px
          height: 29px
          color: #cccc
          position: absolute
          left: 8px
          line-height: 29px
          font-size: 12px
        input
          width: 100%
          height: 100%
          background: rgba(255, 255, 255, 0.17)
          border: none
          outline: none
          padding-left: 32px
          color: white
          &::placeholder
            color: #cccc
            font-weight: 300
      .adder
        width: 15px
        height: 100%
        line-height: 29px
        color: #cccc
        font-size: 22px
        font-weight: 500
    .left-body-part
      width: 100%
      height: calc(100% - 155px)
      overflow-y: auto
      //opacity: 0.97
      background: $title_color_rgba
      padding: 8px
      $left-body-content-color: rgba(255, 255, 255, 0.85)
      color: $left-body-content-color
      .empty-part
        width: 100%
        height: 10px
        //background: #cccccc
      .header-part
        width: 100%
        height: 24px
        font-size: 11px
        line-height: 24px
        color: inherit
        padding-left: 8px

      .item-part
        width: 100%
        height: 24px
        display: flex
        cursor: pointer
        padding-left: 4px
        .i
          width: 18px
          height: 100%
          color: inherit
          font-size: 11px
          opacity: 0.8
          line-height: 24px
          text-align: center
        .item-text
          flex: 1
          font-size: 12px

          line-height: 24px
        .show
          display: none

        &:hover
          background: $title_color
          .show
            display: block

    .left-footer
      width: 100%
      height: 60px
      background: $title_color
      padding: 8px
      line-height: 44px
      color: white
      font-size: 38px
      font-weight: 800

  .main-part
    flex: 1
    height: 100%
    display: flex
    flex-direction: column
    .main-header
      width: 100%
      height: 50px
      border-bottom: 1px solid #ddd
      padding: 8px 16px
      display: flex
      .i
        width: 32px
        height: 100%
        line-height: 34px
        color: #ccc
      .header-text
        flex: 1
        height: 100%
        line-height: 34px
        color: #333
        font-size: 21px
    .main-chatting
      width: 100%
      //height: calc(100% - 130px)
      flex: 1
      overflow-y: auto
      .chat-date
        width: 100%
        height: 40px
        display: flex
        .date-line
          flex: 1
          height: 20px
          border-bottom: 1px solid #dedede
        .date-text
          width: 110px
          line-height: 40px
          text-align: center
          height: 40px
          font-size: 10px
          color: #444
          font-weight: 600






      .chat-content
        width: 100%
        display: flex
        padding: 8px 16px 0 16px
        position: relative
        .chat-image-zone
          width: 40px
          .chat-image

            text-align: center
            font-size: 30px
            border-radius: 5px
            line-height: 40px
            max-height: 40px
            border: solid 1px
            &.orange
              background: orange
          .i.fas.fa-cog
            width: 100%
            color: black
            font-size: 12px
            text-align: end
            line-height: 21px


        .chat
          width: calc(100% - 40px)
          .chat-profile-content
            width: 100%
            display: flex
            .profile-name
              padding-left: 8px
              color: #333
              font-size: 13px
              font-weight: 500
            .profile-owner-content
              padding: 0 4px
              display: flex
              .owner-text
                font-weight: 300
                text-align: center
                margin: 0 2px
                font-size: 12px
                width: 40px
                background: #999
                color: #fdfdfd
                border-radius: 2px

            .profile-date
              line-height: 16px
              color: #666666
              font-size: 8px
              margin: 0 4px 0 0
            .i.fas.fa-cog
              font-size: 12px
              line-height: 16px

          .chat-text-content
            padding: 4px 8px 0 8px
            color: #555
            font-size: 12px
            line-height: 18px






    .main-input
      width: 100%
      max-height: 160px
      border-top: 1px solid #ddd
      padding: 8px 16px 16px 16px
      .main-input-content
        width: 100%
        border: 1px solid #ddd
        border-radius: 4px
        display: flex
        .input-bar
          flex: 1
          border-right: 1px solid #ddd
          position: relative
          .i
            position: absolute
            left: 8px
            top: 8px
            color: #ccc
          textarea
            resize: none
            width: 100%
            height: 36px
            max-height: 130px
            padding-left: 32px
            padding-top: 8px
            border: none
            outline: none
            overflow: auto
            &::placeholder
              color: #999
        .content-bar
          width: 80px
          height: 32px
          .contents
            display: flex
            height: 30px
            border-bottom: 1px solid #efefef
            background: #eee
            .i
              flex: 1
              text-align: center
              height: 30px
              color: #777
              line-height: 30px

  .right-side-bar
    width: 36px
    height: 100%
    border-left: 1px solid #ccc
    padding: 8px
    .icon
      width: 20px
      height: 36px
      line-height: 36px
      color: #444
      font-size: 12px
      text-align: center