* {
  box-sizing: border-box; }

.display-none {
  display: none !important; }

.red {
  background: #ff5722 !important; }

.orange {
  background: #ff9800 !important; }

.yellow {
  background: #ffbf00 !important; }

.green {
  background: #d4e234 !important; }

.blue {
  background: #009688 !important; }

.purple {
  background: #d650ac !important; }

.close-file {
  height: 30px;
  overflow: hidden; }

.i {
  cursor: pointer; }

.login-wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center; }
  .login-wrapper .login {
    width: 200px;
    height: 80px;
    text-align: center;
    line-height: 80px;
    font-size: 20px;
    cursor: pointer;
    position: relative; }
    .login-wrapper .login .i {
      right: 40px;
      top: 4px;
      position: absolute;
      font-size: 30px;
      color: red; }

body {
  padding: 0;
  margin: 0; }

.display-none {
  display: none !important; }

.chat-wrapper {
  width: 100%;
  height: 100vh;
  display: flex; }
  .chat-wrapper .empty-bar {
    width: 80px;
    height: 100%;
    background: #222; }
  .chat-wrapper .left-side-bar {
    width: 220px;
    height: 100%; }
    .chat-wrapper .left-side-bar .left-header {
      width: 100%;
      height: 50px;
      display: flex;
      padding: 8px;
      background: #04446A; }
      .chat-wrapper .left-side-bar .left-header .header-image {
        width: 34px;
        height: 34px;
        background: #FDB316;
        border-radius: 4px;
        color: #FFFFFF;
        font-size: 21px;
        font-weight: 600;
        line-height: 34px;
        text-align: center; }
      .chat-wrapper .left-side-bar .left-header .header-name {
        flex: 1;
        height: 34px;
        padding: 0 8px;
        line-height: 34px;
        color: #9CB3C3;
        font-weight: 300; }
      .chat-wrapper .left-side-bar .left-header .header-status {
        width: 16px;
        height: 34px; }
        .chat-wrapper .left-side-bar .left-header .header-status .i {
          width: 100%;
          height: 100%;
          color: #9CB3C3;
          line-height: 34px; }
    .chat-wrapper .left-side-bar .left-input {
      background: #04446A;
      width: 100%;
      height: 45px;
      display: flex;
      padding: 8px; }
      .chat-wrapper .left-side-bar .left-input .input-bar {
        flex: 1;
        height: 100%;
        border: 1px solid #6189A2;
        border-radius: 4px;
        position: relative;
        margin-right: 16px;
        opacity: 0.8; }
        .chat-wrapper .left-side-bar .left-input .input-bar .i {
          width: 16px;
          height: 29px;
          color: #6189A2;
          position: absolute;
          left: 8px;
          line-height: 29px;
          font-size: 12px; }
        .chat-wrapper .left-side-bar .left-input .input-bar input {
          width: 100%;
          height: 100%;
          background: #1E5579;
          border: none;
          outline: none;
          padding-left: 32px;
          color: #FFFFFF; }
          .chat-wrapper .left-side-bar .left-input .input-bar input::placeholder {
            color: #6189A2;
            font-weight: 300; }
      .chat-wrapper .left-side-bar .left-input .adder {
        width: 15px;
        height: 100%;
        line-height: 29px;
        color: #6189A2;
        font-size: 22px;
        font-weight: 500; }
    .chat-wrapper .left-side-bar .left-body-part {
      width: 100%;
      height: calc(100% - 155px);
      overflow-y: auto;
      background: #044B75;
      padding: 8px;
      color: #9DB6CB; }
      .chat-wrapper .left-side-bar .left-body-part .empty-part {
        width: 100%;
        height: 10px; }
      .chat-wrapper .left-side-bar .left-body-part .header-part {
        width: 100%;
        height: 24px;
        font-size: 11px;
        line-height: 24px;
        color: inherit;
        padding-left: 8px; }
      .chat-wrapper .left-side-bar .left-body-part .item-part {
        width: 100%;
        height: 24px;
        display: flex;
        cursor: pointer;
        padding-left: 4px; }
        .chat-wrapper .left-side-bar .left-body-part .item-part .i {
          width: 18px;
          height: 100%;
          color: inherit;
          font-size: 11px;
          opacity: 0.8;
          line-height: 24px;
          text-align: center; }
        .chat-wrapper .left-side-bar .left-body-part .item-part .item-text {
          flex: 1;
          font-size: 12px;
          line-height: 24px; }
        .chat-wrapper .left-side-bar .left-body-part .item-part .show {
          display: none; }
        .chat-wrapper .left-side-bar .left-body-part .item-part:hover {
          background: #044064; }
          .chat-wrapper .left-side-bar .left-body-part .item-part:hover .show {
            display: block; }
    .chat-wrapper .left-side-bar .left-footer {
      width: 100%;
      height: 60px;
      background: #04446A;
      padding: 8px;
      line-height: 44px;
      color: white;
      font-size: 38px;
      font-weight: 800; }
  .chat-wrapper .main-part {
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column; }
    .chat-wrapper .main-part .main-header {
      width: 100%;
      height: 50px;
      border-bottom: 1px solid #ccc;
      padding: 8px 16px;
      display: flex; }
      .chat-wrapper .main-part .main-header .i {
        width: 32px;
        height: 100%;
        line-height: 34px;
        color: #D9D9D9; }
      .chat-wrapper .main-part .main-header .header-text {
        flex: 1;
        height: 100%;
        line-height: 34px;
        color: #333;
        font-size: 21px; }
    .chat-wrapper .main-part .main-chatting {
      width: 100%;
      flex: 1;
      overflow-y: auto;
      padding: 16px 0; }
      .chat-wrapper .main-part .main-chatting .chat-date {
        width: 100%;
        height: 40px;
        display: flex; }
        .chat-wrapper .main-part .main-chatting .chat-date .date-line {
          flex: 1;
          height: 20px;
          border-bottom: 1px solid #ccc; }
        .chat-wrapper .main-part .main-chatting .chat-date .date-text {
          width: 110px;
          line-height: 40px;
          text-align: center;
          height: 40px;
          font-size: 10px;
          color: #444;
          font-weight: 600; }
      .chat-wrapper .main-part .main-chatting .chat-content {
        width: 100%;
        display: flex;
        padding: 8px 16px;
        position: relative; }
        .chat-wrapper .main-part .main-chatting .chat-content:hover {
          background: #efefef; }
          .chat-wrapper .main-part .main-chatting .chat-content:hover .fa-cog {
            color: #A0A0A0 !important; }
        .chat-wrapper .main-part .main-chatting .chat-content .chat-image-zone {
          width: 40px; }
          .chat-wrapper .main-part .main-chatting .chat-content .chat-image-zone .chat-image {
            color: white;
            text-align: center;
            font-size: 30px;
            border-radius: 5px;
            line-height: 40px;
            max-height: 40px; }
            .chat-wrapper .main-part .main-chatting .chat-content .chat-image-zone .chat-image.orange {
              background: #FDB316;
              color: white; }
          .chat-wrapper .main-part .main-chatting .chat-content .chat-image-zone .i.fas.fa-cog {
            width: 100%;
            color: white;
            font-size: 10px;
            text-align: end;
            line-height: 21px; }
        .chat-wrapper .main-part .main-chatting .chat-content .chat {
          width: calc(100% - 40px); }
          .chat-wrapper .main-part .main-chatting .chat-content .chat .chat-profile-content {
            width: 100%;
            display: flex; }
            .chat-wrapper .main-part .main-chatting .chat-content .chat .chat-profile-content .profile-name {
              padding-left: 8px;
              color: #333;
              font-size: 13px;
              font-weight: 500; }
            .chat-wrapper .main-part .main-chatting .chat-content .chat .chat-profile-content .profile-owner-content {
              padding: 0 4px;
              display: flex; }
              .chat-wrapper .main-part .main-chatting .chat-content .chat .chat-profile-content .profile-owner-content .owner-text {
                font-weight: 300;
                text-align: center;
                margin: 0 2px;
                font-size: 12px;
                width: 40px;
                background: #A0A0A0;
                color: #fdfdfd;
                border-radius: 2px; }
            .chat-wrapper .main-part .main-chatting .chat-content .chat .chat-profile-content .profile-date {
              line-height: 16px;
              color: #666666;
              font-size: 8px;
              margin: 0 4px 0 0; }
            .chat-wrapper .main-part .main-chatting .chat-content .chat .chat-profile-content .i.fas.fa-cog {
              font-size: 10px;
              line-height: 16px;
              color: white; }
          .chat-wrapper .main-part .main-chatting .chat-content .chat .chat-text-content {
            padding: 4px 8px 0 8px;
            color: #555;
            font-size: 12px;
            line-height: 18px;
            transition: height 0.3s; }
            .chat-wrapper .main-part .main-chatting .chat-content .chat .chat-text-content .file-content {
              height: 120px;
              border-left: 4px solid #ddd; }
              .chat-wrapper .main-part .main-chatting .chat-content .chat .chat-text-content .file-content .file-header {
                display: flex; }
                .chat-wrapper .main-part .main-chatting .chat-content .chat .chat-text-content .file-content .file-header .file-name {
                  padding: 4px 8px;
                  font-size: 16px;
                  color: #407899; }
                .chat-wrapper .main-part .main-chatting .chat-content .chat .chat-text-content .file-content .file-header .i {
                  padding: 4px;
                  width: 30px;
                  text-align: center;
                  height: 22px;
                  margin: 0 4px;
                  line-height: 14px;
                  font-size: 13px;
                  color: #444444;
                  border: 1px solid #444444;
                  border-radius: 4px; }
                .chat-wrapper .main-part .main-chatting .chat-content .chat .chat-text-content .file-content .file-header .down-arrow {
                  width: 10px;
                  border: none; }
              .chat-wrapper .main-part .main-chatting .chat-content .chat .chat-text-content .file-content .i {
                padding: 4px 8px;
                width: 80px;
                height: 80px;
                font-size: 80px;
                color: #ddd; }
    .chat-wrapper .main-part .main-input {
      width: 100%;
      max-height: 160px;
      border-top: 1px solid #ddd;
      padding: 8px 16px 16px 16px; }
      .chat-wrapper .main-part .main-input .main-input-content {
        width: 100%;
        border: 1px solid #ddd;
        border-radius: 4px;
        display: flex; }
        .chat-wrapper .main-part .main-input .main-input-content .input-bar {
          flex: 1;
          border-right: 1px solid #ddd;
          position: relative; }
          .chat-wrapper .main-part .main-input .main-input-content .input-bar .i {
            position: absolute;
            left: 8px;
            top: 8px;
            color: #ccc; }
          .chat-wrapper .main-part .main-input .main-input-content .input-bar textarea {
            resize: none;
            width: 100%;
            height: 36px;
            max-height: 130px;
            padding-left: 32px;
            padding-top: 8px;
            border: none;
            outline: none;
            overflow: auto; }
            .chat-wrapper .main-part .main-input .main-input-content .input-bar textarea::placeholder {
              color: #999; }
        .chat-wrapper .main-part .main-input .main-input-content .content-bar {
          width: 80px;
          height: 32px; }
          .chat-wrapper .main-part .main-input .main-input-content .content-bar .contents {
            display: flex;
            height: 30px;
            border-bottom: 1px solid #efefef;
            background: #eee; }
            .chat-wrapper .main-part .main-input .main-input-content .content-bar .contents .i {
              font-size: 14px;
              flex: 1;
              text-align: center;
              height: 30px;
              color: #777;
              line-height: 30px; }
  .chat-wrapper .right-side-bar {
    width: 36px;
    height: 100%;
    border-left: 1px solid #ccc;
    padding: 8px; }
    .chat-wrapper .right-side-bar .icon {
      width: 20px;
      height: 36px;
      line-height: 36px;
      color: #444;
      font-size: 12px;
      text-align: center; }

/*# sourceMappingURL=soojung.layout.css.map */